<div class="video">
	{{>start}}
	<div class="controls">{{>play}} {{>pause}} {{>volume}} <div class="progress">0:00 / 30:00</div> {{>expand}}</div>
</div>

{{#if student}}
<button class="question">Colocar dúvida ao professor</button>
{{else}}
<button class="edit">Editar aula</button>
{{/if}}