
<div class="pickers">
	<div class="picker dark" data-class='dark'>
		<div class="base"></div>
		<div class="aux"></div>
	</div>
	<div class="picker light" data-class='light'>
		<div class="base"></div>
		<div class="aux"></div>
	</div>
</div>
<div class="buttons">
	<button id="cancel">Cancelar</button>
	<button id="save">Guardar</button>
</div>