
<div class="scheme" data-color='red'><div class="picker red dark"></div></div>

<div class="scheme" data-color='blue'><div class="picker blue dark"></div></div>

<div class="scheme" data-color='gray'><div class="picker gray dark"></div></div>

<div class="scheme" data-color='orange'><div class="picker orange dark"></div></div>

