
<div class="security">
	{{>security}}
	<div class="securityLabel">
		<div class="label">Certificados de segurança por <span class="bold">SEGURANÇA</span></div>
		<div class="button">Ler mais informações</div>
	</div>
</div>
<div class="links">
	<div class="link">Termos e condições</div>
	<div class="link">Acerca de nós</div>
	<div class="link">Feedback</div>
</div>