<div id="logo">
	{{>logo}}
	ul3i
</div>

<div id="search">
	<input id="searchBar" placeholder="Pesquisar..." type="text"></input>
</div>

{{#if user.name}}
<div>
	<button class='profile'>{{>profile}} {{user.name}}</button>
	<button class='logout'>Terminar sessão</button>
</div>
{{else}}
<button class='login'>Iniciar sessão</button>
{{/if}}