<div class="title">Entre na sua conta</div>

<div class="label title">Nome de utilizador</div>
<input type="text" class='username' placeholder="Escreva o seu nome de utilizador"></input>

<div class="label title">Password</div>
<input type="password" class="password" placeholder="Escreva a sua password"></input>

<button class='login'>Entrar</button>