
<div id="question">
	<div class="field name">
	<div class="label">Nome do professor</div>
	<input class='name' placeholder='Escreva aqui o nome do seu professor'></input>
</div>

<div class="field name">
	<div class="label">Título</div>
	<input class='tit' placeholder='Escreva aqui o título da sua dúvida'></input>
</div>

<div class="field class">
	<div class="label">Aula</div>
	<input class='class' placeholder='Escreva aqui o nome da aula'></input>
</div>
<div class="field message">
	<div class="label">Dúvida</div>
	<textarea class='question' rows="4" cols="50" placeholder='Escreva aqui a sua dúvida'></textarea>
</div>
<div class="field buttons">
	<button class='send'>Enviar dúvida</button>
	<button class='cancel'>Cancelar</button>
</div>
</div>
