<div class="label">Tamanho dos títulos</div>

<div class="titleSize">
	{{>minus}} <div class="labelTitleSize">{{titlesize}}</div> {{>plus}}
</div>
<div class="label">Tamanho do texto</div>

<div class="fontSize">
	{{>minus}} <div class="labelFontSize">{{fontsize}}</div> {{>plus}}
</div>
<div class="buttons"><button id="cancel">Cancelar</button><button id="save">Guardar</button></div>