/* line 3, sass/body.scss */
#body {
  width: 100%;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  overflow: hidden;
}

/* line 11, sass/body.scss */
b {
  font-weight: bold;
}

/* line 16, sass/body.scss */
#profile {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
/* line 21, sass/body.scss */
#profile .profileHeader {
  display: flex;
  padding: 20px;
  border: 2px solid;
  border-left: 10px solid;
  margin: 0 10px;
  border-radius: 5px;
  align-items: center;
}
/* line 30, sass/body.scss */
#profile .profileHeader img {
  margin-right: 30px;
  border-radius: 5px;
  height: 150px;
}
/* line 35, sass/body.scss */
#profile .profileHeader .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* line 41, sass/body.scss */
#profile .profileContent {
  display: flex;
  flex-grow: 1;
}
/* line 45, sass/body.scss */
#profile .profileContent course-header {
  margin-bottom: 2px;
  display: flex;
  margin-bottom: 2px;
}
/* line 51, sass/body.scss */
#profile .profileContent course {
  display: flex;
}
/* line 55, sass/body.scss */
#profile .profileContent name, #profile .profileContent rating, #profile .profileContent year {
  border-right: 1px solid;
  padding: 5px;
}
/* line 57, sass/body.scss */
#profile .profileContent course-header, #profile .profileContent course {
  border-bottom: 1px solid;
}
/* line 60, sass/body.scss */
#profile .profileContent course-header name, #profile .profileContent course name {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 61, sass/body.scss */
#profile .profileContent course-header rating, #profile .profileContent course-header year, #profile .profileContent course rating, #profile .profileContent course year {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 64, sass/body.scss */
#profile .profileContent .info {
  flex: 1;
  border: 2px solid;
  border-left: 10px solid;
  border-radius: 5px;
  margin: 10px;
  overflow-y: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
/* line 72, sass/body.scss */
#profile .profileContent .info .title {
  padding: 20px;
}
/* line 76, sass/body.scss */
#profile .profileContent .info > div:not(.title) {
  margin: 5px;
  cursor: pointer;
}

/* line 86, sass/body.scss */
#content {
  position: relative;
  flex-direction: column;
  display: flex;
  flex: 7;
  min-width: 400px;
  padding: 10px;
}
/* line 94, sass/body.scss */
#content .title {
  padding: 20px;
}
/* line 97, sass/body.scss */
#content .subtitle {
  position: relative;
  top: -10px;
  margin-left: 20px;
}
/* line 102, sass/body.scss */
#content .content-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
/* line 109, sass/body.scss */
#content .content-wrapper .content {
  height: calc(100% - 20px);
  overflow-y: auto;
}
/* line 112, sass/body.scss */
#content .content-wrapper .content > img {
  height: 100%;
}

/* line 119, sass/body.scss */
#main-page, #courses {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  overflow-y: auto;
}
/* line 125, sass/body.scss */
#main-page > .image, #courses > .image {
  flex: 1;
  margin: 0 20px 0 10px;
  width: 40%;
  max-width: 400px;
  max-height: 500px;
}
/* line 132, sass/body.scss */
#main-page > .lorem, #courses > .lorem {
  flex: 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  line-height: 200%;
  overflow: auto;
  position: relative;
  max-width: 700px;
  max-height: 500px;
}
/* line 144, sass/body.scss */
#main-page > .lorem p, #courses > .lorem p {
  margin-bottom: 20px;
}
/* line 148, sass/body.scss */
#main-page > .lorem > button, #courses > .lorem > button {
  position: absolute;
  right: 10px;
  bottom: 0px;
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
}

/* line 161, sass/body.scss */
#courses, #classes {
  flex-flow: row wrap;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
/* line 167, sass/body.scss */
#courses > button, #classes > button {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  right: 10px;
}
/* line 174, sass/body.scss */
#courses .course, #courses .class, #classes .course, #classes .class {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 20px 0;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 300px;
  flex: 1;
  text-align: center;
}
/* line 188, sass/body.scss */
#courses .course svg, #courses .class svg, #classes .course svg, #classes .class svg {
  max-height: 100px;
  max-width: 100px;
  height: 40%;
  width: 40%;
  padding: 10px;
}

/* line 198, sass/body.scss */
#login {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: space-around;
}
/* line 204, sass/body.scss */
#login .title {
  padding: 20px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 212, sass/body.scss */
#login input, #login .label {
  flex: 1;
  margin: 0 20px;
}
/* line 217, sass/body.scss */
#login button {
  margin: 20px;
  flex: 1.5;
  font-size: 25px;
  border-radius: 5px;
}
/* line 224, sass/body.scss */
#login .title.label {
  padding: 25px 0 0px 0;
  justify-content: flex-start;
  font-size: 18px;
}
/* line 230, sass/body.scss */
#login input {
  padding: 0 10px;
}
