/* line 3, sass/body.scss */
#body {
  width: 100%;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  overflow: hidden;
}

/* line 11, sass/body.scss */
b {
  font-weight: bold;
}

/* line 16, sass/body.scss */
#profile {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
/* line 21, sass/body.scss */
#profile .profileHeader {
  display: flex;
  padding: 20px;
  flex-grow: 1;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
}
/* line 29, sass/body.scss */
#profile .profileHeader img {
  margin-right: 30px;
  border-radius: 50%;
  height: 150px;
}
/* line 34, sass/body.scss */
#profile .profileHeader .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* line 40, sass/body.scss */
#profile .profileContent {
  display: flex;
  padding: 0 20px;
  flex-grow: 1;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
}
/* line 48, sass/body.scss */
#profile .profileContent .info {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
/* line 50, sass/body.scss */
#profile .profileContent .info .title {
  padding: 20px 0;
}
/* line 53, sass/body.scss */
#profile .profileContent .info > div:not(.title) {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

/* line 65, sass/body.scss */
#content {
  position: relative;
  flex-direction: column;
  display: flex;
  flex: 7;
  min-width: 400px;
  padding: 10px;
}
/* line 73, sass/body.scss */
#content .title {
  padding: 20px;
}
/* line 76, sass/body.scss */
#content .subtitle {
  position: relative;
  top: -10px;
  margin-left: 20px;
}
/* line 81, sass/body.scss */
#content .content-wrapper {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* line 88, sass/body.scss */
#content .content-wrapper .content {
  height: calc(100% - 20px);
}
/* line 92, sass/body.scss */
#content .content-wrapper .content > img {
  height: 100%;
}

/* line 100, sass/body.scss */
#main-page, #courses {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}
/* line 105, sass/body.scss */
#main-page > .image, #courses > .image {
  flex: 1;
  background-color: orange;
  margin: 0 20px 0 10px;
  max-width: 400px;
  min-width: 300px;
}
/* line 112, sass/body.scss */
#main-page > .lorem, #courses > .lorem {
  flex: 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 135%;
}
/* line 120, sass/body.scss */
#main-page > .lorem button, #courses > .lorem button {
  padding: 10px;
}

/* line 126, sass/body.scss */
#courses, #classes {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
/* line 132, sass/body.scss */
#courses > button, #classes > button {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  right: 10px;
}
/* line 139, sass/body.scss */
#courses .course, #courses .class, #classes .course, #classes .class {
  width: calc(33% - 20px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  min-width: 200px;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 153, sass/body.scss */
#courses .course svg, #courses .class svg, #classes .course svg, #classes .class svg {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 20px;
}
/* line 160, sass/body.scss */
#courses > div, #classes > div {
  flex-flow: column;
  display: flex;
  flex-grow: 1;
}
/* line 165, sass/body.scss */
#courses > div .course, #courses > div .class, #classes > div .course, #classes > div .class {
  width: calc(100% - 60px);
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  cursor: pointer;
  margin-bottom: 25px;
}
/* line 179, sass/body.scss */
#courses > div .course svg, #courses > div .class svg, #classes > div .course svg, #classes > div .class svg {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 20px;
}

/* line 189, sass/body.scss */
#login {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: space-around;
  border: 1px solid;
}
/* line 196, sass/body.scss */
#login .title {
  padding: 20px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}
/* line 205, sass/body.scss */
#login input, #login .label {
  flex: 1;
  margin: 0 20px;
}
/* line 210, sass/body.scss */
#login button {
  margin: 20px;
  flex: 1.5;
  font-size: 25px;
  border-radius: 5px;
}
/* line 217, sass/body.scss */
#login .label {
  padding: 25px 0 0px 0;
  font-size: 18px;
}
/* line 222, sass/body.scss */
#login input {
  padding: 0 10px;
  border: 1px solid #777;
}
