@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/maria_000\/Desktop\/CCU-projecto\/ccu3\/app\/styles\/sass\/footer\.scss}line{font-family:\000033}}
#footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
