@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/maria\.silva\/Desktop\/Projectos\/ccu\/app\/styles\/sass\/header\.scss}line{font-family:\000033}}
#header {
  align-self: flex-start;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/maria\.silva\/Desktop\/Projectos\/ccu\/app\/styles\/sass\/header\.scss}line{font-family:\0000313}}
#header > div {
  height: 100%;
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/maria\.silva\/Desktop\/Projectos\/ccu\/app\/styles\/sass\/header\.scss}line{font-family:\0000318}}
#header button {
  height: 100%;
  border: none;
  font-family: inherit;
  min-width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/maria\.silva\/Desktop\/Projectos\/ccu\/app\/styles\/sass\/header\.scss}line{font-family:\0000325}}
#header .profile {
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/maria\.silva\/Desktop\/Projectos\/ccu\/app\/styles\/sass\/header\.scss}line{font-family:\0000329}}
#header #logo {
  height: 100%;
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/maria\.silva\/Desktop\/Projectos\/ccu\/app\/styles\/sass\/header\.scss}line{font-family:\0000338}}
#header #logo > svg {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
