/* line 3, sass/header.scss */
#header {
  align-self: flex-start;
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
/* line 13, sass/header.scss */
#header > div {
  height: 100%;
  display: flex;
}
/* line 18, sass/header.scss */
#header button {
  height: 100%;
  border: none;
  font-family: inherit;
  min-width: 200px;
}
/* line 25, sass/header.scss */
#header .profile {
  width: 200px;
}
/* line 29, sass/header.scss */
#header #logo {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 35px;
}
/* line 37, sass/header.scss */
#header #logo > img {
  height: calc(100% - 10px);
  margin-top: 5px;
  margin-left: 20px;
}
