/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/palettes.scss */
body.dark {
  background-color: #141311;
}
/* line 4, sass/palettes.scss */
body.dark input, body.dark textarea {
  color: #ccc;
}
/* line 8, sass/palettes.scss */
body.dark .questions, body.dark .responses {
  color: #bbb;
}
/* line 11, sass/palettes.scss */
body.dark .questions .buttons > button, body.dark .responses .buttons > button {
  color: #bbb;
}
/* line 14, sass/palettes.scss */
body.dark .questions .buttons > button:disabled, body.dark .responses .buttons > button:disabled {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 19, sass/palettes.scss */
body.dark #header {
  background-color: #753928;
  color: #d8d8d8;
}
/* line 23, sass/palettes.scss */
body.dark #header svg {
  fill: #d8d8d8;
}
/* line 27, sass/palettes.scss */
body.dark #header button {
  color: #ddd;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
/* line 29, sass/palettes.scss */
body.dark #header .profile {
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 30, sass/palettes.scss */
body.dark #header .login, body.dark #header .logout {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 34, sass/palettes.scss */
body.dark #footer {
  color: #bbb;
  background-color: #753928;
}
/* line 37, sass/palettes.scss */
body.dark #footer svg {
  fill: #ccc;
}
/* line 41, sass/palettes.scss */
body.dark #footer.expanded .button {
  border: 3px solid #bbb;
}
/* line 47, sass/palettes.scss */
body.dark #menu {
  background-color: #222;
  border-right: 10px solid #333;
}
/* line 51, sass/palettes.scss */
body.dark #menu button {
  color: #bbb;
  -webkit-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
/* line 58, sass/palettes.scss */
body.dark #menu button svg, body.dark #menu button path {
  fill: #bbb;
}
/* line 63, sass/palettes.scss */
body.dark #menu button[data-route]:hover,
body.dark #menu button[data-route].selected {
  background-color: #b7b7b7;
  padding-left: 30px;
  color: #222;
  -webkit-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
/* line 73, sass/palettes.scss */
body.dark #menu button[data-route]:hover svg, body.dark #menu button[data-route]:hover path,
body.dark #menu button[data-route].selected svg,
body.dark #menu button[data-route].selected path {
  fill: #222;
}
/* line 78, sass/palettes.scss */
body.dark #menu button.fontsize:hover, body.dark #menu button.colorscheme:hover,
body.dark #menu button.fontsize.editing, body.dark #menu button.colorscheme.editing {
  background-color: #753928;
}
/* line 84, sass/palettes.scss */
body.dark #menu button > .size, body.dark #menu button > .color,
body.dark #menu button > .size:hover, body.dark #menu button > .color:hover {
  background-color: #222;
  color: #bbb;
}
/* line 88, sass/palettes.scss */
body.dark #menu button > .size svg, body.dark #menu button > .size path, body.dark #menu button > .color svg, body.dark #menu button > .color path,
body.dark #menu button > .size:hover svg,
body.dark #menu button > .size:hover path, body.dark #menu button > .color:hover svg, body.dark #menu button > .color:hover path {
  fill: #bbb;
}
/* line 91, sass/palettes.scss */
body.dark #menu button > .size .buttons #save, body.dark #menu button > .color .buttons #save,
body.dark #menu button > .size:hover .buttons #save, body.dark #menu button > .color:hover .buttons #save {
  background-color: #4D7332;
  color: #fff;
}
/* line 95, sass/palettes.scss */
body.dark #menu button > .size .buttons #cancel, body.dark #menu button > .color .buttons #cancel,
body.dark #menu button > .size:hover .buttons #cancel, body.dark #menu button > .color:hover .buttons #cancel {
  background-color: #A32424;
  color: #fff;
}
/* line 99, sass/palettes.scss */
body.dark #menu button > .size:before, body.dark #menu button > .color:before,
body.dark #menu button > .size:hover:before, body.dark #menu button > .color:hover:before {
  background-color: #222;
}
/* line 102, sass/palettes.scss */
body.dark #menu button > .size:after, body.dark #menu button > .color:after,
body.dark #menu button > .size:hover:after, body.dark #menu button > .color:hover:after {
  background-color: #222;
  border: 1px solid #bbb;
}
/* line 111, sass/palettes.scss */
body.dark #main-page .context > button, body.dark #courses .context > button {
  color: #aaa;
  background-color: transparent;
}
/* line 115, sass/palettes.scss */
body.dark #main-page .context > button:hover, body.dark #courses .context > button:hover {
  background-color: #bbb;
  color: #222;
  border-color: #bbb;
}
/* line 123, sass/palettes.scss */
body.dark #content {
  color: #bbb;
}
/* line 127, sass/palettes.scss */
body.dark #content .content-wrapper .image {
  background-color: #777;
}
/* line 132, sass/palettes.scss */
body.dark #content .addClass {
  color: #bbb;
}
/* line 139, sass/palettes.scss */
body.dark #courses button, body.dark #classes button {
  color: #bbb;
}
/* line 145, sass/palettes.scss */
body.dark #classes .video {
  background-color: #777;
}
/* line 148, sass/palettes.scss */
body.dark #classes .video .controls {
  background-color: #555;
}
/* line 154, sass/palettes.scss */
body.dark .course:not(.promo), body.dark .class {
  background-color: transparent;
  border: 7px solid;
  color: #bbb;
}
/* line 159, sass/palettes.scss */
body.dark .course:not(.promo) svg, body.dark .course:not(.promo) path, body.dark .class svg, body.dark .class path {
  fill: #bbb;
}
/* line 165, sass/palettes.scss */
body.dark .course:not(.promo):hover, body.dark .class:hover {
  background-color: #bbb;
  color: #111;
  border: 7px solid #bbb;
}
/* line 170, sass/palettes.scss */
body.dark .course:not(.promo):hover svg, body.dark .course:not(.promo):hover path, body.dark .class:hover svg, body.dark .class:hover path {
  fill: #111;
}
/* line 175, sass/palettes.scss */
body.dark .course.promo {
  background-color: transparent;
  border: 7px solid #A85A43;
  color: #bbb;
}
/* line 181, sass/palettes.scss */
body.dark .course.promo:hover {
  background-color: #A85A43;
  border: 7px solid #A85A43;
  color: #111;
}
/* line 188, sass/palettes.scss */
body.dark #login {
  border: 2px solid;
}
/* line 192, sass/palettes.scss */
body.dark #login .title {
  background-color: #753928;
}
/* line 195, sass/palettes.scss */
body.dark #login .title.label {
  background-color: transparent;
}
/* line 200, sass/palettes.scss */
body.dark #login .login {
  background-color: #4D7332;
  color: #bbb;
}
/* line 205, sass/palettes.scss */
body.dark #login input {
  border: 2px solid #bbb;
  color: #bbb;
}
/* line 212, sass/palettes.scss */
body.dark #profile .title {
  background-color: #753928;
  color: #ccc;
}
/* line 216, sass/palettes.scss */
body.dark #profile svg {
  fill: #ccc;
}
/* line 222, sass/palettes.scss */
body.dark #modal .title {
  color: #ccc;
}

/* line 228, sass/palettes.scss */
body.light {
  background-color: #eee;
}
/* line 231, sass/palettes.scss */
body.light input, body.light textarea {
  color: #555;
}
/* line 235, sass/palettes.scss */
body.light .questions, body.light .responses {
  color: #555;
}
/* line 238, sass/palettes.scss */
body.light .questions .buttons > button, body.light .responses .buttons > button {
  color: #555;
}
/* line 242, sass/palettes.scss */
body.light .questions .buttons > button:disabled, body.light .responses .buttons > button:disabled {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 248, sass/palettes.scss */
body.light #header {
  background-color: #F7C997;
  color: #555;
}
/* line 252, sass/palettes.scss */
body.light #header svg {
  fill: #555;
}
/* line 256, sass/palettes.scss */
body.light #header button {
  color: #555;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
/* line 258, sass/palettes.scss */
body.light #header .profile {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 259, sass/palettes.scss */
body.light #header .login, body.light #header .logout {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 262, sass/palettes.scss */
body.light #footer {
  background-color: #F7C997;
  color: #555;
}
/* line 266, sass/palettes.scss */
body.light #footer svg {
  fill: #555;
}
/* line 270, sass/palettes.scss */
body.light #footer.expanded .button {
  border: 3px solid #555;
}
/* line 276, sass/palettes.scss */
body.light #menu {
  background-color: #ddd;
  border-right: 10px solid #bbb;
}
/* line 280, sass/palettes.scss */
body.light #menu button {
  color: #555;
  -webkit-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
/* line 287, sass/palettes.scss */
body.light #menu button svg, body.light #menu button path {
  fill: #555;
}
/* line 292, sass/palettes.scss */
body.light #menu button[data-route]:hover,
body.light #menu button[data-route].selected {
  background-color: #b7b7b7;
  padding-left: 30px;
  color: #222;
  -webkit-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
/* line 302, sass/palettes.scss */
body.light #menu button[data-route]:hover svg, body.light #menu button[data-route]:hover path,
body.light #menu button[data-route].selected svg,
body.light #menu button[data-route].selected path {
  fill: #222;
}
/* line 307, sass/palettes.scss */
body.light #menu button.fontsize:hover, body.light #menu button.colorscheme:hover,
body.light #menu button.fontsize.editing, body.light #menu button.colorscheme.editing {
  background-color: #F7C997;
}
/* line 312, sass/palettes.scss */
body.light #menu button > .size, body.light #menu button > .color,
body.light #menu button > .size:hover, body.light #menu button > .color:hover {
  background-color: #fff;
  color: #333;
}
/* line 316, sass/palettes.scss */
body.light #menu button > .size svg, body.light #menu button > .size path, body.light #menu button > .color svg, body.light #menu button > .color path,
body.light #menu button > .size:hover svg,
body.light #menu button > .size:hover path, body.light #menu button > .color:hover svg, body.light #menu button > .color:hover path {
  fill: #333;
}
/* line 319, sass/palettes.scss */
body.light #menu button > .size .buttons #save, body.light #menu button > .color .buttons #save,
body.light #menu button > .size:hover .buttons #save, body.light #menu button > .color:hover .buttons #save {
  background-color: #92B877;
  color: #222;
}
/* line 323, sass/palettes.scss */
body.light #menu button > .size .buttons #cancel, body.light #menu button > .color .buttons #cancel,
body.light #menu button > .size:hover .buttons #cancel, body.light #menu button > .color:hover .buttons #cancel {
  background-color: #B87777;
  color: #222;
}
/* line 327, sass/palettes.scss */
body.light #menu button > .size:before, body.light #menu button > .color:before,
body.light #menu button > .size:hover:before, body.light #menu button > .color:hover:before {
  background-color: #fff;
}
/* line 330, sass/palettes.scss */
body.light #menu button > .size:after, body.light #menu button > .color:after,
body.light #menu button > .size:hover:after, body.light #menu button > .color:hover:after {
  background-color: #fff;
  border: 1px solid #555;
}
/* line 339, sass/palettes.scss */
body.light #main-page .context > button, body.light #courses .context > button {
  color: #555;
  background-color: transparent;
}
/* line 343, sass/palettes.scss */
body.light #main-page .context > button:hover, body.light #courses .context > button:hover {
  background-color: #333;
  color: #ccc;
  border-color: #333;
}
/* line 351, sass/palettes.scss */
body.light #content {
  color: #555;
}
/* line 355, sass/palettes.scss */
body.light #content .content-wrapper .image {
  background-color: #777;
}
/* line 360, sass/palettes.scss */
body.light #content .addClass {
  color: #555;
}
/* line 366, sass/palettes.scss */
body.light #courses button, body.light #classes button {
  color: #333;
}
/* line 371, sass/palettes.scss */
body.light #classes .video {
  background-color: #555;
}
/* line 374, sass/palettes.scss */
body.light #classes .video .controls {
  background-color: #888;
  color: #fff;
}
/* line 380, sass/palettes.scss */
body.light .course:not(.promo), body.light .class {
  background-color: transparent;
  border: 7px solid;
  color: #555;
}
/* line 385, sass/palettes.scss */
body.light .course:not(.promo) svg, body.light .course:not(.promo) path, body.light .class svg, body.light .class path {
  fill: #555;
}
/* line 391, sass/palettes.scss */
body.light .course:not(.promo):hover, body.light .class:hover {
  background-color: #555;
  color: #eee;
  border: 7px solid #555;
}
/* line 396, sass/palettes.scss */
body.light .course:not(.promo):hover svg, body.light .course:not(.promo):hover path, body.light .class:hover svg, body.light .class:hover path {
  fill: #eee;
}
/* line 401, sass/palettes.scss */
body.light .course.promo {
  background-color: transparent;
  border: 7px solid #F7C997;
  color: #111;
}
/* line 407, sass/palettes.scss */
body.light .course.promo:hover {
  background-color: #F7C997;
  border: 7px solid #F7C997;
  color: #111;
}
/* line 414, sass/palettes.scss */
body.light #login {
  border: 2px solid;
}
/* line 418, sass/palettes.scss */
body.light #login .title {
  background-color: #F7C997;
}
/* line 421, sass/palettes.scss */
body.light #login .title.label {
  background-color: transparent;
}
/* line 426, sass/palettes.scss */
body.light #login .login {
  background-color: #92B877;
  color: #333;
}
/* line 431, sass/palettes.scss */
body.light #login input {
  border: 2px solid #555;
  color: #555;
}
/* line 438, sass/palettes.scss */
body.light #profile .title {
  background-color: #F7C997;
  color: #333;
}
/* line 442, sass/palettes.scss */
body.light #profile svg {
  fill: #333;
}
/* line 448, sass/palettes.scss */
body.light #modal .title, body.light #modal input, body.light #modal textarea {
  color: #ccc;
}

/*@mixin light($color) {
	color: $black;
	background-color: scale-color($color, $lightness: 50%);
}

@mixin lightest($color) {
	color: $black;
	background-color: scale-color($color, $lightness: 75%);
}

@mixin darkest($color) {
	color: $white;
	background-color: scale-color($color, $lightness: -75%);
}

@mixin dark($color) {
	color: $white;
	background-color: scale-color($color, $lightness: -50%);
}

.red {
	background-color: $red;

	&.light { @include light($red); }
	&.lightest { @include lightest($red); }
	&.dark { @include dark($red); }
	&.darkest { @include darkest($red); }


}

.blue {
	background-color: $blue;

	&.light { @include light($blue); }
	&.lightest { @include lightest($blue); }
	&.dark { @include dark($blue); }
	&.darkest { @include darkest($blue); }

}

.gray {
	background-color: #777;

	&.light { @include light(#777); }
	&.lightest { @include lightest(#777); }
	&.dark { @include dark(#777); }
	&.darkest { @include darkest(#777); }

}

.orange {
	background-color: orange;

	&.light { @include light(orange); }
	&.lightest { @include lightest(orange); }
	&.dark { @include dark(orange); }
	&.darkest { @include darkest(orange); }

}*/
/* line 3, sass/header.scss */
#header {
  align-self: flex-start;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
/* line 13, sass/header.scss */
#header > div {
  height: 100%;
  display: flex;
  align-items: center;
}
/* line 19, sass/header.scss */
#header button {
  height: 80%;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-family: century gothic;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
/* line 34, sass/header.scss */
#header .profile svg {
  margin-right: 10px;
  height: 35px;
  margin-left: -10px;
}
/* line 37, sass/header.scss */
#header #logo {
  height: 100%;
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: center;
  font-size: 35px !important;
}
/* line 46, sass/header.scss */
#header #logo > svg {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
/* line 52, sass/header.scss */
#header #search {
  width: 35%;
  position: absolute;
  left: 300px;
  top: 17px;
  height: 35px;
  display: flex;
  align-items: center;
}
/* line 61, sass/header.scss */
#header #search #searchBar {
  padding: 20px;
  padding-left: 40px;
  border-radius: 17px;
  background-color: #ccc;
  color: #333;
  height: 100%;
  width: 100%;
}
/* line 71, sass/header.scss */
#header #search:before {
  background-image: url("../../images/search.png");
  height: 16px;
  width: 16px;
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
}
/* line 82, sass/header.scss */
#header ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #555;
}
/* line 85, sass/header.scss */
#header :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
  opacity: 1;
}
/* line 89, sass/header.scss */
#header ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
  opacity: 1;
}
/* line 93, sass/header.scss */
#header :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555;
}
/* line 96, sass/header.scss */
#header :placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #555;
}

/* line 4, sass/menu.scss */
#menu {
  display: flex;
  flex-direction: column;
  width: 300px;
}
/* line 9, sass/menu.scss */
#menu > button {
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  flex: 1;
}
/* line 15, sass/menu.scss */
#menu > button svg {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}
/* line 20, sass/menu.scss */
#menu > button .sub {
  font-style: italic;
  font-size: 11px;
}
/* line 26, sass/menu.scss */
#menu .fontsize, #menu .colorscheme {
  position: relative;
}
/* line 29, sass/menu.scss */
#menu .fontsize > .pointer, #menu .colorscheme > .pointer {
  height: 10px;
  width: 10px;
  border: 1px solid;
  transform: rotate(45deg);
  z-index: 0;
  position: absolute;
  opacity: 0;
  right: -20px;
  top: 10px;
}
/* line 40, sass/menu.scss */
#menu .fontsize .color, #menu .fontsize .size, #menu .colorscheme .color, #menu .colorscheme .size {
  position: absolute;
  right: -215px;
  width: 200px;
  display: flex;
  z-index: 1;
  border: 1px solid;
  align-items: center;
  cursor: default;
  background-color: #fff;
  justify-content: space-around;
}
/* line 53, sass/menu.scss */
#menu .fontsize .size, #menu .colorscheme .size {
  top: -85px;
}
/* line 55, sass/menu.scss */
#menu .fontsize .size:before, #menu .colorscheme .size:before {
  top: 106px;
}
/* line 58, sass/menu.scss */
#menu .fontsize .size:after, #menu .colorscheme .size:after {
  top: 107px;
}
/* line 61, sass/menu.scss */
#menu .fontsize .size svg, #menu .colorscheme .size svg {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  margin-right: 0;
}
/* line 70, sass/menu.scss */
#menu .fontsize .size svg.disabled, #menu .colorscheme .size svg.disabled {
  opacity: 0.5;
}
/* line 75, sass/menu.scss */
#menu .fontsize .size .titleSize, #menu .fontsize .size .fontSize, #menu .colorscheme .size .titleSize, #menu .colorscheme .size .fontSize {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}
/* line 85, sass/menu.scss */
#menu .fontsize .size .titleSize .labelTitleSize, #menu .fontsize .size .titleSize .labelFontSize, #menu .fontsize .size .fontSize .labelTitleSize, #menu .fontsize .size .fontSize .labelFontSize, #menu .colorscheme .size .titleSize .labelTitleSize, #menu .colorscheme .size .titleSize .labelFontSize, #menu .colorscheme .size .fontSize .labelTitleSize, #menu .colorscheme .size .fontSize .labelFontSize {
  margin: 0 15px;
}
/* line 91, sass/menu.scss */
#menu .fontsize .color, #menu .colorscheme .color {
  bottom: 0px;
}
/* line 94, sass/menu.scss */
#menu .fontsize .color:before, #menu .colorscheme .color:before {
  bottom: 20px;
}
/* line 97, sass/menu.scss */
#menu .fontsize .color:after, #menu .colorscheme .color:after {
  bottom: 20px;
}
/* line 101, sass/menu.scss */
#menu .fontsize .color .pickers, #menu .colorscheme .color .pickers {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 10px;
}
/* line 109, sass/menu.scss */
#menu .fontsize .color .pickers .picker, #menu .colorscheme .color .pickers .picker {
  cursor: pointer;
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  border: 2px solid #000;
}
/* line 116, sass/menu.scss */
#menu .fontsize .color .pickers .picker.selected, #menu .colorscheme .color .pickers .picker.selected {
  border: 5px solid #719DBD;
}
/* line 120, sass/menu.scss */
#menu .fontsize .color .pickers .picker .base, #menu .fontsize .color .pickers .picker .aux, #menu .colorscheme .color .pickers .picker .base, #menu .colorscheme .color .pickers .picker .aux {
  display: flex;
  flex: 1;
}
/* line 127, sass/menu.scss */
#menu .fontsize .color .dark > .base, #menu .colorscheme .color .dark > .base {
  background-color: #141311;
}
/* line 130, sass/menu.scss */
#menu .fontsize .color .dark > .aux, #menu .colorscheme .color .dark > .aux {
  background-color: #753928;
}
/* line 133, sass/menu.scss */
#menu .fontsize .color .light > .base, #menu .colorscheme .color .light > .base {
  background-color: #eee;
}
/* line 136, sass/menu.scss */
#menu .fontsize .color .light > .aux, #menu .colorscheme .color .light > .aux {
  background-color: #F7C997;
}
/* line 141, sass/menu.scss */
#menu .fontsize .size, #menu .fontsize .color, #menu .colorscheme .size, #menu .colorscheme .color {
  opacity: 0;
  width: 250px;
  right: -265px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
/* line 149, sass/menu.scss */
#menu .fontsize .size:before, #menu .fontsize .color:before, #menu .colorscheme .size:before, #menu .colorscheme .color:before {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #222;
  transform: rotate(45deg);
  z-index: 1;
  position: absolute;
  left: -6px;
}
/* line 160, sass/menu.scss */
#menu .fontsize .size:after, #menu .fontsize .color:after, #menu .colorscheme .size:after, #menu .colorscheme .color:after {
  content: '';
  height: 15px;
  width: 15px;
  border: 1px solid #bbb;
  transform: rotate(45deg);
  z-index: 0;
  position: absolute;
  left: -8px;
}
/* line 170, sass/menu.scss */
#menu .fontsize .size .buttons, #menu .fontsize .color .buttons, #menu .colorscheme .size .buttons, #menu .colorscheme .color .buttons {
  width: 100%;
  display: flex;
}
/* line 175, sass/menu.scss */
#menu .fontsize .size .buttons > button, #menu .fontsize .color .buttons > button, #menu .colorscheme .size .buttons > button, #menu .colorscheme .color .buttons > button {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 3px;
  flex-grow: 1;
}
/* line 182, sass/menu.scss */
#menu .fontsize .size .buttons #cancel, #menu .fontsize .color .buttons #cancel, #menu .colorscheme .size .buttons #cancel, #menu .colorscheme .color .buttons #cancel {
  background-color: #D89E99;
}
/* line 185, sass/menu.scss */
#menu .fontsize .size .buttons #save, #menu .fontsize .color .buttons #save, #menu .colorscheme .size .buttons #save, #menu .colorscheme .color .buttons #save {
  background-color: #C2DBB1;
}
/* line 192, sass/menu.scss */
#menu .fontsize .hidden, #menu .colorscheme .hidden {
  display: none;
}

/* line 3, sass/body.scss */
#body {
  width: 100%;
  display: flex;
  height: calc(100% - 110px);
  flex-flow: row wrap;
  overflow: hidden;
}

/* line 11, sass/body.scss */
#profile {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 50px);
  flex-direction: column;
}
/* line 17, sass/body.scss */
#profile .profileHeader {
  display: flex;
  padding: 20px;
  border: 2px solid;
  border-left: 10px solid;
  margin: 0 10px;
  border-radius: 5px;
  align-items: center;
}
/* line 26, sass/body.scss */
#profile .profileHeader img {
  margin-right: 30px;
  border-radius: 5px;
  height: 150px;
}
/* line 31, sass/body.scss */
#profile .profileHeader .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* line 37, sass/body.scss */
#profile .profileContent {
  display: flex;
  flex-grow: 1;
}
/* line 41, sass/body.scss */
#profile .profileContent course-header {
  margin-bottom: 2px;
  display: flex;
  margin-bottom: 2px;
}
/* line 47, sass/body.scss */
#profile .profileContent course {
  display: flex;
}
/* line 51, sass/body.scss */
#profile .profileContent name, #profile .profileContent rating, #profile .profileContent year {
  border-right: 1px solid;
  padding: 5px;
}
/* line 53, sass/body.scss */
#profile .profileContent course-header, #profile .profileContent course {
  border-bottom: 1px solid;
  flex-grow: 1;
}
/* line 57, sass/body.scss */
#profile .profileContent course-header name, #profile .profileContent course name {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 58, sass/body.scss */
#profile .profileContent course-header rating, #profile .profileContent course-header year, #profile .profileContent course rating, #profile .profileContent course year {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 61, sass/body.scss */
#profile .profileContent .info {
  flex: 1;
  border: 2px solid;
  border-left: 10px solid;
  border-radius: 5px;
  margin: 10px;
  overflow-y: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
/* line 69, sass/body.scss */
#profile .profileContent .info .title {
  padding: 20px;
  position: relative;
}
/* line 72, sass/body.scss */
#profile .profileContent .info .title svg {
  height: 80px;
  width: 60px;
  position: absolute;
  right: 0px;
  top: 0px;
}
/* line 81, sass/body.scss */
#profile .profileContent .info > div:not(.title) {
  position: relative;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
/* line 88, sass/body.scss */
#profile .profileContent .info > div:not(.title) svg {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

/* line 100, sass/body.scss */
#content {
  position: relative;
  flex-direction: column;
  display: flex;
  flex: 7;
  min-width: 400px;
  padding: 10px;
  height: 100%;
}
/* line 109, sass/body.scss */
#content button.addClass {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 200px;
  border: 3px solid;
  padding: 10px;
  border-radius: 5px;
}
/* line 119, sass/body.scss */
#content .title {
  padding: 20px;
  line-height: 130%;
}
/* line 123, sass/body.scss */
#content .subtitle {
  position: relative;
  top: -10px;
  margin-left: 20px;
}
/* line 128, sass/body.scss */
#content .content-wrapper {
  padding: 10px;
  height: 100%;
  overflow: hidden;
}
/* line 133, sass/body.scss */
#content .content-wrapper .content {
  height: calc(100% - 20px);
  overflow-y: auto;
}
/* line 136, sass/body.scss */
#content .content-wrapper .content > img {
  height: 100%;
}

/* line 143, sass/body.scss */
#main-page, #courses {
  display: flex;
  position: relative;
  overflow: hidden;
}
/* line 148, sass/body.scss */
#main-page > .image, #courses > .image {
  background-color: #777;
  min-width: 70px;
  width: 30%;
  height: 100%;
}
/* line 154, sass/body.scss */
#main-page > .context, #courses > .context {
  height: 100%;
  max-width: 700px;
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
}
/* line 161, sass/body.scss */
#main-page > .context > .lorem, #courses > .context > .lorem {
  text-align: justify;
  line-height: 200%;
  overflow: auto;
  position: relative;
  max-height: calc(100% - 70px);
  padding: 0 15px;
}
/* line 170, sass/body.scss */
#main-page > .context > .lorem p, #courses > .context > .lorem p {
  margin-bottom: 20px;
}
/* line 174, sass/body.scss */
#main-page > .context > button, #courses > .context > button {
  padding: 20px;
  border: 3px solid;
  margin: 15px 30px 0 30px;
  border-radius: 5px;
}

/* line 183, sass/body.scss */
#main-page {
  height: calc(100% - 60px);
}

/* line 184, sass/body.scss */
#courses, #classes {
  height: calc(100% - 80px);
}

/* line 186, sass/body.scss */
#courses, #classes {
  flex-flow: row wrap;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;
}
/* line 193, sass/body.scss */
#courses .video, #classes .video {
  position: relative;
  display: flex;
  height: calc(100% - 70px);
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
/* line 202, sass/body.scss */
#courses .video #start, #classes .video #start {
  max-height: 100px;
  opacity: 0.5;
}
/* line 207, sass/body.scss */
#courses .video .controls, #classes .video .controls {
  height: 0;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  align-items: center;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
/* line 221, sass/body.scss */
#courses .video .controls > .progress, #classes .video .controls > .progress {
  margin-left: 110px;
}
/* line 225, sass/body.scss */
#courses .video .controls > svg, #classes .video .controls > svg {
  height: 0px;
  width: 40px;
  position: absolute;
  margin-top: 10px;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
/* line 227, sass/body.scss */
#courses .video .controls > svg.hidden, #classes .video .controls > svg.hidden {
  display: none;
}
/* line 234, sass/body.scss */
#courses .video .controls > svg#expand, #classes .video .controls > svg#expand {
  right: 10px;
}
/* line 235, sass/body.scss */
#courses .video .controls > svg#play, #classes .video .controls > svg#play {
  left: 10px;
}
/* line 236, sass/body.scss */
#courses .video .controls > svg#pause, #classes .video .controls > svg#pause {
  left: 10px;
}
/* line 237, sass/body.scss */
#courses .video .controls > svg#volume, #classes .video .controls > svg#volume {
  left: 55px;
}
/* line 245, sass/body.scss */
#courses .video:hover .controls, #classes .video:hover .controls {
  height: 50px;
}
/* line 247, sass/body.scss */
#courses .video:hover .controls > svg, #classes .video:hover .controls > svg {
  height: 30px;
}
/* line 255, sass/body.scss */
#courses > button, #classes > button {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  right: 0px;
  background-color: transparent;
  border: 5px solid;
  border-radius: 5px;
}
/* line 265, sass/body.scss */
#courses > div, #classes > div {
  display: flex;
  flex-direction: column;
}
/* line 268, sass/body.scss */
#courses > div .class, #classes > div .class {
  margin-top: 10px;
}
/* line 271, sass/body.scss */
#courses .course, #courses .class, #classes .course, #classes .class {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 20px 0;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 300px;
  flex: 1;
  text-align: center;
}
/* line 285, sass/body.scss */
#courses .course svg, #courses .class svg, #classes .course svg, #classes .class svg {
  max-height: 100px;
  max-width: 100px;
  height: 40%;
  width: 40%;
  padding: 10px;
}

/* line 295, sass/body.scss */
#login {
  display: flex;
  flex: 1;
  height: calc(100% - 60px);
  max-height: 500px;
  max-width: 900px;
  flex-flow: column wrap;
  justify-content: space-around;
}
/* line 304, sass/body.scss */
#login .title {
  padding: 20px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 312, sass/body.scss */
#login input, #login .label {
  flex: 1;
  margin: 0 20px;
}
/* line 317, sass/body.scss */
#login button {
  margin: 20px;
  flex: 1.5;
  font-size: 25px;
  border-radius: 5px;
}
/* line 324, sass/body.scss */
#login .title.label {
  padding: 25px 0 0px 0;
  justify-content: flex-start;
  font-size: 18px;
}
/* line 330, sass/body.scss */
#login input {
  padding: 0 10px;
}

/* line 5, sass/footer.scss */
#footer {
  width: 100%;
  height: 40px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 1s ease;
}
/* line 19, sass/footer.scss */
#footer .security {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* line 25, sass/footer.scss */
#footer .security svg {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  padding: 5px;
  transition: all 1s ease;
}
/* line 35, sass/footer.scss */
#footer .security .button {
  height: 0;
  overflow: hidden;
  padding: 0;
  margin-top: 5px;
  border: 3px solid;
  text-align: center;
  transition: all 1s ease;
}
/* line 50, sass/footer.scss */
#footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
/* line 57, sass/footer.scss */
#footer .links .link {
  cursor: pointer;
  margin-left: 40px;
}

/* line 64, sass/footer.scss */
#footer.expanded {
  height: 70px;
}
/* line 67, sass/footer.scss */
#footer.expanded svg {
  height: 50px;
  width: 50px;
  padding: 5px;
}
/* line 74, sass/footer.scss */
#footer.expanded .button {
  border-radius: 3px;
  padding: 5px;
  height: auto;
}

/* line 4, sass/questions.scss */
.questions, .responses {
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}
/* line 6, sass/questions.scss */
.questions .buttons, .responses .buttons {
  display: flex;
  justify-content: flex-end;
}
/* line 7, sass/questions.scss */
.questions .buttons button, .responses .buttons button {
  padding: 10px;
  margin: 10px 0px 10px 5px;
  width: 150px;
  border: 3px solid;
  border-radius: 5px;
}
/* line 21, sass/questions.scss */
.questions > .questions, .questions > .responses, .responses > .questions, .responses > .responses {
  border: 1px solid;
}
/* line 24, sass/questions.scss */
.questions .response, .questions .question, .responses .response, .responses .question {
  padding: 10px;
  border-bottom: 1px solid;
  cursor: pointer;
}
/* line 30, sass/questions.scss */
.questions > .question, .questions .response, .responses > .question, .responses .response {
  display: flex;
}
/* line 34, sass/questions.scss */
.questions > .question .field.check, .questions .response .field.check, .responses > .question .field.check, .responses .response .field.check {
  flex: 0.2;
}
/* line 35, sass/questions.scss */
.questions > .question .field.name, .questions .response .field.name, .responses > .question .field.name, .responses .response .field.name {
  flex: 2;
}
/* line 36, sass/questions.scss */
.questions > .question .field.tit, .questions .response .field.tit, .responses > .question .field.tit, .responses .response .field.tit {
  flex: 3;
}
/* line 37, sass/questions.scss */
.questions > .question .field.date, .questions .response .field.date, .responses > .question .field.date, .responses .response .field.date {
  flex: 1;
}

/* line 42, sass/questions.scss */
#question, #response {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;
}
/* line 48, sass/questions.scss */
#question .field, #response .field {
  display: flex;
  flex-direction: column;
}
/* line 53, sass/questions.scss */
#question .field > textarea, #response .field > textarea {
  padding: 10px;
  border: 2px solid;
}
/* line 58, sass/questions.scss */
#question .field .label, #response .field .label {
  padding: 0px 0 5px 0;
}
/* line 62, sass/questions.scss */
#question .field input, #response .field input {
  margin-bottom: 20px;
  padding: 10px;
  flex-grow: 1;
  border: 2px solid;
}
/* line 73, sass/questions.scss */
#question .field.buttons, #response .field.buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-end;
}
/* line 81, sass/questions.scss */
#question .field.buttons button, #response .field.buttons button {
  width: 200px;
  padding: 7px;
  margin-left: 10px;
  border: 3px solid;
  border-radius: 5px;
}
/* line 88, sass/questions.scss */
#question .field.buttons button.send, #response .field.buttons button.send {
  right: 230px;
}
/* line 89, sass/questions.scss */
#question .field.buttons button.cancel, #response .field.buttons button.cancel {
  right: 0;
}

/* line 3, sass/modal.scss */
#modal {
  background-image: url("../images/modal.png");
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  flex-direction: column;
}
/* line 22, sass/modal.scss */
#modal .content {
  height: 85%;
  width: 70%;
  max-width: 900px;
}
/* line 29, sass/modal.scss */
#modal.seeThrough {
  pointer-events: none;
}
/* line 33, sass/modal.scss */
#modal .title {
  height: 30%;
  display: flex;
  align-items: center;
  color: #ccc;
  padding-top: 50px;
  width: 70%;
  max-width: 900px;
  padding: 0 10px;
}
/* line 43, sass/modal.scss */
#modal .label {
  color: #ccc;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
/* line 49, sass/modal.scss */
#modal button {
  color: #ccc;
  padding: 10px;
}

/* line 16, sass/main.scss */
html, body {
  position: relative;
  font-family: verdana;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 28, sass/main.scss */
body * {
  font-family: verdana;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 14px;
}

/* line 36, sass/main.scss */
body .title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: century gothic;
  font-weight: bold;
}

/* line 43, sass/main.scss */
button {
  cursor: pointer;
  border: none;
  font-family: century gothic;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 51, sass/main.scss */
button:focus {
  outline: none;
}

/* line 56, sass/main.scss */
input:focus {
  border: none;
  outline: none;
}

/* line 61, sass/main.scss */
#header {
  order: 1;
}

/* line 65, sass/main.scss */
#body {
  order: 2;
}

/* line 69, sass/main.scss */
#content {
  order: 3;
  line-height: 120%;
}

/* line 74, sass/main.scss */
b {
  font-weight: bold;
}

/* line 77, sass/main.scss */
i {
  font-weight: italic;
}

/* line 81, sass/main.scss */
.italic {
  font-style: italic;
}

/* line 85, sass/main.scss */
.bold {
  font-weight: bold;
  margin-left: 5px;
}
