/* line 4, sass/menu.scss */
#menu {
  display: flex;
  flex-direction: column;
  width: 300px;
}
/* line 9, sass/menu.scss */
#menu > button {
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 60px;
}
/* line 15, sass/menu.scss */
#menu > button svg {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}
/* line 22, sass/menu.scss */
#menu .fontsize, #menu .colorscheme {
  position: relative;
}
/* line 25, sass/menu.scss */
#menu .fontsize > .pointer, #menu .colorscheme > .pointer {
  height: 10px;
  width: 10px;
  border: 1px solid;
  transform: rotate(45deg);
  z-index: 0;
  position: absolute;
  opacity: 0;
  right: -20px;
  top: 10px;
}
/* line 36, sass/menu.scss */
#menu .fontsize .color, #menu .fontsize .size, #menu .colorscheme .color, #menu .colorscheme .size {
  position: absolute;
  right: -215px;
  width: 200px;
  top: 0px;
  display: flex;
  z-index: 1;
  border: 1px solid;
  align-items: center;
  cursor: default;
  background-color: #fff;
  justify-content: space-around;
}
/* line 50, sass/menu.scss */
#menu .fontsize .size, #menu .colorscheme .size {
  opacity: 0;
  width: 250px;
  right: -265px;
  display: flex;
  flex-direction: column;
  top: -85px;
  padding: 25px;
}
/* line 59, sass/menu.scss */
#menu .fontsize .size:before, #menu .colorscheme .size:before {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #222;
  transform: rotate(45deg);
  z-index: 1;
  position: absolute;
  left: -6px;
  top: 106px;
}
/* line 71, sass/menu.scss */
#menu .fontsize .size:after, #menu .colorscheme .size:after {
  content: '';
  height: 15px;
  width: 15px;
  border: 1px solid #bbb;
  transform: rotate(45deg);
  z-index: 0;
  position: absolute;
  left: -8px;
  top: 107px;
}
/* line 83, sass/menu.scss */
#menu .fontsize .size svg, #menu .colorscheme .size svg {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  margin-right: 0;
}
/* line 92, sass/menu.scss */
#menu .fontsize .size svg.disabled, #menu .colorscheme .size svg.disabled {
  opacity: 0.5;
}
/* line 97, sass/menu.scss */
#menu .fontsize .size .titleSize, #menu .fontsize .size .fontSize, #menu .colorscheme .size .titleSize, #menu .colorscheme .size .fontSize {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}
/* line 107, sass/menu.scss */
#menu .fontsize .size .titleSize .labelTitleSize, #menu .fontsize .size .titleSize .labelFontSize, #menu .fontsize .size .fontSize .labelTitleSize, #menu .fontsize .size .fontSize .labelFontSize, #menu .colorscheme .size .titleSize .labelTitleSize, #menu .colorscheme .size .titleSize .labelFontSize, #menu .colorscheme .size .fontSize .labelTitleSize, #menu .colorscheme .size .fontSize .labelFontSize {
  margin: 0 15px;
}
/* line 112, sass/menu.scss */
#menu .fontsize .size .buttons, #menu .colorscheme .size .buttons {
  width: 100%;
  display: flex;
}
/* line 117, sass/menu.scss */
#menu .fontsize .size .buttons > button, #menu .colorscheme .size .buttons > button {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 3px;
  flex-grow: 1;
}
/* line 124, sass/menu.scss */
#menu .fontsize .size .buttons #cancel, #menu .colorscheme .size .buttons #cancel {
  background-color: #D89E99;
}
/* line 127, sass/menu.scss */
#menu .fontsize .size .buttons #save, #menu .colorscheme .size .buttons #save {
  background-color: #C2DBB1;
}
/* line 133, sass/menu.scss */
#menu .fontsize .scheme, #menu .colorscheme .scheme {
  flex: 1;
  height: 100%;
}
/* line 137, sass/menu.scss */
#menu .fontsize .scheme > .picker, #menu .colorscheme .scheme > .picker {
  margin: 5px;
  flex: 1;
  height: calc(100% - 10px);
  cursor: pointer;
}
/* line 145, sass/menu.scss */
#menu .fontsize .hidden, #menu .colorscheme .hidden {
  display: none;
}
