/* line 1, sass/palettes.scss */
body.dark {
  background-color: #141311;
}
/* line 4, sass/palettes.scss */
body.dark #header {
  background-color: #753928;
  color: #d8d8d8;
}
/* line 8, sass/palettes.scss */
body.dark #header #logo > svg {
  fill: #d8d8d8;
}
/* line 13, sass/palettes.scss */
body.dark #menu {
  background-color: #222;
  border-right: 10px solid #333;
}
/* line 17, sass/palettes.scss */
body.dark #menu button {
  color: #bbb;
  -webkit-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
/* line 24, sass/palettes.scss */
body.dark #menu button svg, body.dark #menu button path {
  fill: #bbb;
}
/* line 29, sass/palettes.scss */
body.dark #menu button[data-route]:hover,
body.dark #menu button[data-route].selected {
  background-color: #b7b7b7;
  padding-left: 30px;
  color: #222;
  -webkit-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
/* line 39, sass/palettes.scss */
body.dark #menu button[data-route]:hover svg, body.dark #menu button[data-route]:hover path,
body.dark #menu button[data-route].selected svg,
body.dark #menu button[data-route].selected path {
  fill: #222;
}
/* line 44, sass/palettes.scss */
body.dark #menu button.fontsize:hover, body.dark #menu button.coloscheme:hover,
body.dark #menu button.fontsize.editing, body.dark #menu button.coloscheme.editing {
  background-color: #753928;
}
/* line 49, sass/palettes.scss */
body.dark #menu button > .size, body.dark #menu button > .size:hover {
  background-color: #222;
  color: #bbb;
}
/* line 52, sass/palettes.scss */
body.dark #menu button > .size svg, body.dark #menu button > .size path, body.dark #menu button > .size:hover svg, body.dark #menu button > .size:hover path {
  fill: #bbb;
}
/* line 55, sass/palettes.scss */
body.dark #menu button > .size .buttons #save, body.dark #menu button > .size:hover .buttons #save {
  background-color: #4D7332;
  color: #fff;
}
/* line 59, sass/palettes.scss */
body.dark #menu button > .size .buttons #cancel, body.dark #menu button > .size:hover .buttons #cancel {
  background-color: #A32424;
  color: #fff;
}
/* line 75, sass/palettes.scss */
body.dark #content {
  color: #bbb;
}
/* line 79, sass/palettes.scss */
body.dark #content .content-wrapper .image {
  background-color: #777;
}
/* line 85, sass/palettes.scss */
body.dark .course:not(.promo), body.dark .class {
  background-color: transparent;
  border: 7px solid;
  color: #bbb;
}
/* line 90, sass/palettes.scss */
body.dark .course:not(.promo) svg, body.dark .class svg {
  fill: #bbb;
}
/* line 96, sass/palettes.scss */
body.dark .course:not(.promo):hover, body.dark .class:hover {
  background-color: #bbb;
  color: #111;
  border: 7px solid #bbb;
}
/* line 101, sass/palettes.scss */
body.dark .course:not(.promo):hover svg, body.dark .class:hover svg {
  fill: #111;
}
/* line 106, sass/palettes.scss */
body.dark .course.promo {
  background-color: transparent;
  border: 7px solid #A85A43;
  color: #bbb;
}
/* line 112, sass/palettes.scss */
body.dark .course.promo:hover {
  background-color: #A85A43;
  border: 7px solid #A85A43;
  color: #111;
}
/* line 119, sass/palettes.scss */
body.dark #login {
  border: 2px solid;
}
/* line 123, sass/palettes.scss */
body.dark #login .title {
  background-color: #753928;
}
/* line 126, sass/palettes.scss */
body.dark #login .title.label {
  background-color: transparent;
}
/* line 131, sass/palettes.scss */
body.dark #login .login {
  background-color: #4D7332;
  color: #bbb;
}
/* line 136, sass/palettes.scss */
body.dark #login input {
  border: 2px solid #bbb;
  color: #bbb;
}
/* line 143, sass/palettes.scss */
body.dark #profile .title {
  background-color: #753928;
  color: #ccc;
}

/*@mixin light($color) {
	color: $black;
	background-color: scale-color($color, $lightness: 50%);
}

@mixin lightest($color) {
	color: $black;
	background-color: scale-color($color, $lightness: 75%);
}

@mixin darkest($color) {
	color: $white;
	background-color: scale-color($color, $lightness: -75%);
}

@mixin dark($color) {
	color: $white;
	background-color: scale-color($color, $lightness: -50%);
}

.red {
	background-color: $red;

	&.light { @include light($red); }
	&.lightest { @include lightest($red); }
	&.dark { @include dark($red); }
	&.darkest { @include darkest($red); }


}

.blue {
	background-color: $blue;

	&.light { @include light($blue); }
	&.lightest { @include lightest($blue); }
	&.dark { @include dark($blue); }
	&.darkest { @include darkest($blue); }

}

.gray {
	background-color: #777;

	&.light { @include light(#777); }
	&.lightest { @include lightest(#777); }
	&.dark { @include dark(#777); }
	&.darkest { @include darkest(#777); }

}

.orange {
	background-color: orange;

	&.light { @include light(orange); }
	&.lightest { @include lightest(orange); }
	&.dark { @include dark(orange); }
	&.darkest { @include darkest(orange); }

}*/
