/* line 4, sass/questions.scss */
.questions, .responses {
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}
/* line 6, sass/questions.scss */
.questions .buttons, .responses .buttons {
  display: flex;
  justify-content: flex-end;
}
/* line 7, sass/questions.scss */
.questions .buttons button, .responses .buttons button {
  padding: 10px;
  margin: 10px 0px 10px 5px;
  width: 150px;
  border: 3px solid;
  border-radius: 5px;
}
/* line 21, sass/questions.scss */
.questions > .questions, .questions > .responses, .responses > .questions, .responses > .responses {
  border: 1px solid;
}
/* line 24, sass/questions.scss */
.questions .response, .questions .question, .responses .response, .responses .question {
  padding: 10px;
  border-bottom: 1px solid;
  cursor: pointer;
}
/* line 30, sass/questions.scss */
.questions > .question, .questions .response, .responses > .question, .responses .response {
  display: flex;
}
/* line 34, sass/questions.scss */
.questions > .question .field.check, .questions .response .field.check, .responses > .question .field.check, .responses .response .field.check {
  flex: 0.2;
}
/* line 35, sass/questions.scss */
.questions > .question .field.name, .questions .response .field.name, .responses > .question .field.name, .responses .response .field.name {
  flex: 2;
}
/* line 36, sass/questions.scss */
.questions > .question .field.tit, .questions .response .field.tit, .responses > .question .field.tit, .responses .response .field.tit {
  flex: 3;
}
/* line 37, sass/questions.scss */
.questions > .question .field.date, .questions .response .field.date, .responses > .question .field.date, .responses .response .field.date {
  flex: 1;
}

/* line 42, sass/questions.scss */
#question, #response {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;
}
/* line 48, sass/questions.scss */
#question .field, #response .field {
  display: flex;
  flex-direction: column;
}
/* line 53, sass/questions.scss */
#question .field > textarea, #response .field > textarea {
  padding: 10px;
  border: 2px solid;
}
/* line 58, sass/questions.scss */
#question .field .label, #response .field .label {
  padding: 0px 0 5px 0;
}
/* line 62, sass/questions.scss */
#question .field input, #response .field input {
  margin-bottom: 20px;
  padding: 10px;
  flex-grow: 1;
  border: 2px solid;
}
/* line 73, sass/questions.scss */
#question .field.buttons, #response .field.buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-end;
}
/* line 81, sass/questions.scss */
#question .field.buttons button, #response .field.buttons button {
  width: 200px;
  padding: 7px;
  margin-left: 10px;
  border: 3px solid;
  border-radius: 5px;
}
/* line 88, sass/questions.scss */
#question .field.buttons button.send, #response .field.buttons button.send {
  right: 230px;
}
/* line 89, sass/questions.scss */
#question .field.buttons button.cancel, #response .field.buttons button.cancel {
  right: 0;
}
