@import "variables";

#body {
	width: 100%;
    display: flex;
    height: calc(100% - #{$footer + $header});
    flex-flow: row wrap;
    overflow: hidden;
}

#profile {
    display: flex;
    flex-grow: 1;
    height: calc(100% - 50px);
    flex-direction: column;

	.profileHeader {
	    display: flex;
	    padding: 20px;
	    border: 2px solid;
	    border-left: 10px solid;
	    margin: 0 10px;
	    border-radius: 5px;
	    align-items: center;

		img {
			margin-right: 30px;
			border-radius: 5px;
			height: 150px;
		}
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
	}
	.profileContent {
	    display: flex;
	    flex-grow: 1;

		course-header {
			margin-bottom: 2px;
			display: flex;
			margin-bottom: 2px;
		}
		
		course {
			display: flex;
		}

		name, rating, year { border-right: 1px solid; padding: 5px;}

		course-header, course {
			border-bottom: 1px solid;
			flex-grow: 1;

			name { width:60%; overflow: hidden; text-overflow:ellipsis; }
			rating, year { width:20%; overflow: hidden; text-overflow:ellipsis; }
		}

		.info {
		    flex: 1;
		    border: 2px solid;
		    border-left: 10px solid;
		    border-radius: 5px;
		    margin: 10px;
		    overflow-y: auto;

			.title {
			    padding: 20px;
			    position: relative;
			    svg {
				    height: 80px;
				    width: 60px;
				    position: absolute;
				    right: 0px;
				    top: 0px;
				}
			}

			>div:not(.title) {
				position: relative;
			    margin: 5px;
			    cursor: pointer;
			    display: flex;
			    align-items: center;
			    flex-grow: 1;
			    svg {
				    height: 15px;
				    width: 15px;
				    margin-right: 10px;
				}
			}
			margin: 10px;
			display: flex;
			flex-direction: column;
		}
	}
}
#content {
    position: relative;
    flex-direction: column;
    display: flex;
    flex: 7;
    min-width: 400px;
    padding: 10px;
    height: 100%;

    button.addClass {
	    position: absolute;
	    top: 15px;
	    right: 30px;
	    width: 200px;
	    border: 3px solid;
	    padding: 10px;
	    border-radius: 5px;
	}

	.title {
		padding: 20px;
		line-height: 130%;
	}
	.subtitle {
	    position: relative;
	    top: -10px;
	    margin-left: 20px;
	}
	.content-wrapper {
		padding: 10px;
		height: 100%;
		overflow: hidden;

		.content {
			height: calc(100% - 20px);
    		overflow-y: auto;
			>img {
				height: 100%;
			}
		}
	}
}

#main-page, #courses {
    display: flex;
    position: relative;
    overflow: hidden;

    >.image {
	    background-color: #777;
	    min-width: 70px;
	    width: 30%;
	    height: 100%;
    }
    >.context {
	    height: 100%;
	    max-width: 700px;
	    position: relative;
	    width: 70%;
	    display: flex;
	    flex-direction: column;
	    >.lorem {
		    text-align: justify;
		    line-height: 200%;
		    overflow: auto;
		    position: relative;
		    
		    max-height: calc(100% - 70px);
		    padding: 0 15px;

			p {
				margin-bottom: 20px;
			}
	    }
	    >button {
			padding: 20px;
			border: 3px solid;
			margin: 15px 30px 0 30px;
			border-radius: 5px;
		}
	}
}

#main-page { height: calc(100% - 60px); }
#courses, #classes { height: calc(100% - 80px); }

#courses, #classes {
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    position: relative;

	.video {
		position: relative;
	    display: flex;
	    height: calc(100% - 70px);
	    width: 100%;
	    cursor: pointer;
	    align-items: center;
    	justify-content: center;

	    #start {
		    max-height: 100px;
		    opacity: 0.5;
		}

	    .controls {
	    	height: 0;
		    display: flex;
		    width: 100%;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    overflow: hidden;
		    align-items: center;

		    -webkit-transition: height 0.5s ease;
		    -o-transition: height 0.5s ease;
		    transition: height 0.5s ease;
			
			>.progress {
			    margin-left: 110px;
			}
		    
		    >svg {

		    	&.hidden { display: none; }

		    	height: 0px;
		    	width: 40px;
		    	position: absolute;
		    	margin-top: 10px;

				&#expand { right: 10px; }
				&#play { left: 10px; }
				&#pause { left: 10px; }
				&#volume { left: 55px; }

		    	-webkit-transition: height 0.5s ease;
			    -o-transition: height 0.5s ease;
			    transition: height 0.5s ease;
		    }
		}
		&:hover {
			.controls {
				height: 50px;
				>svg {
			    	height: 30px;
			    }
			}
		}
	}


	>button {
		position: absolute;
	    bottom: 10px;
	    padding: 10px;
	    right: 0px;
	    background-color: transparent;
	    border: 5px solid;
	    border-radius: 5px;
	}

	>div {    
		display: flex;
    	flex-direction: column;
    	.class { margin-top: 10px;}
	} 

	.course, .class {
		border-radius: 5px;
	    display: flex;
	    align-items: center;
	    padding: 0 20px;
	    flex-direction: column;
	    justify-content: center;
	    margin: 0 30px 30px 0;
	    cursor: pointer;
	    box-sizing: border-box;
	    min-width: 300px;
	    flex: 1;
	    text-align: center;

	    svg {
		    max-height: 100px;
		    max-width: 100px;
		    height: 40%;
		    width: 40%;
		    padding: 10px;
		}
	}
}

#login {
    display: flex;
    flex: 1;
    height: calc(100% - 60px);
    max-height: 500px;
    max-width: 900px;
    flex-flow: column wrap;
    justify-content: space-around;

    .title {
		padding: 20px;
		flex: 2;
		display: flex;
		align-items: center;
		justify-content: center;
    }
	
	input, .label {
		flex: 1;
		margin: 0 20px;
	}

	button {
	    margin: 20px;
	    flex: 1.5;
	    font-size: 25px;
	    border-radius: 5px;
	}

	.title.label {
		padding: 25px 0 0px 0;
		justify-content: flex-start;
		font-size: 18px;
	}
	
	input {
		padding: 0 10px;
	}
}