@import "variables";

#header {
	
	align-self: flex-start;
    
    height: $header;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

	>div {
		height: 100%;
		display: flex;
	}

	button {
	    height: 100%;
	    border: none;
	    font-family: inherit;
	    min-width: 200px;
	}

	.profile {
		width: 200px;
	}

	#logo{
	    height: 100%;
	    display: flex;
	    width: 250px;
	    align-items: center;
	    justify-content: center;
	    font-size: 35px !important;
	}

	#logo>svg {
	    height: 35px;
	    width: 35px;
	    margin-right: 10px;
	}
}