/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";
@import "palettes";
@import "header";
@import "menu";
@import "body";
@import "footer";
@import "questions";

html, body {
    position: relative;
    font-family: verdana;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;

    height: 100%;
    width: 100%;
}

body * {
	font-family: verdana;
	box-sizing: border-box;
	background-color: transparent;
	font-size: 14px;
}

body .title {
	font-size: 20px;
}

button {
	cursor: pointer;
	border: none;
}

button:focus {
	outline: none;
}

#header {
	order: 1;
}

#body {
	order: 2;
}

#content {
	order: 3;
	line-height: 120%;
}