body.dark {
    background-color: #141311;

	#header {
	    background-color: #753928;
	    color: #d8d8d8;

	    #logo>svg {
	    	fill: #d8d8d8;
	    }
	}

	#menu {
		background-color: #222;
		border-right: 10px solid #333;
	    
		button {
			color: #bbb;

			-webkit-transition: padding-left 0.5s;
		    -o-transition: padding-left 0.5s;
		    transition: padding-left 0.5s;

		    svg, path {
		    	fill: #bbb;
		    }
		}
		
		button[data-route]:hover, 
		button[data-route].selected {
		    background-color: #b7b7b7;
		    padding-left: 30px;
		    color: #222;

		    -webkit-transition: padding-left 0.5s;
		    -o-transition: padding-left 0.5s;
		    transition: padding-left 0.5s;

		    svg, path {
		    	fill: #222;
		    }
		}

		button.fontsize:hover, button.coloscheme:hover,
		button.fontsize.editing, button.coloscheme.editing {
			background-color: #753928;
		}

		button>.size, button>.size:hover {
			background-color: #222;
			color:#bbb;
			svg, path {
		    	fill: #bbb;
		    }
		    .buttons #save {
			    background-color: #4D7332;
			    color: #fff;
			}
			.buttons #cancel {
			    background-color: #A32424;
			    color: #fff;
			}
		}
	}

	#main-page {
		
		button {
		
			//background-color: #A85A43;
		
		}
	}

	#content {
	    color: #bbb;

	    .content-wrapper {
	    	.image {
			    background-color: #777; 
			}
	    }
	}

	.course:not(.promo), .class {
		background-color:transparent;
		border: 7px solid;
		color: #bbb;

		svg {
			fill: #bbb;
		}

	}

	.course:not(.promo):hover, .class:hover {
		background-color: #bbb;
		color: #111;
		border: 7px solid #bbb;

		svg {
			fill: #111;
		}
	}

	.course.promo {
		background-color: transparent;
		border: 7px solid #A85A43;
		color: #bbb;
	}

	.course.promo:hover {
		background-color: #A85A43;
		border: 7px solid #A85A43;
		color: #111;

	}

	#login {

		border: 2px solid;

		.title {
			background-color:#753928;

			&.label {
				background-color: transparent;
			}
		}
		
		.login {
			background-color:#4D7332;
			color: #bbb;
		}

		input {
			border: 2px solid #bbb;
    		color: #bbb;
		}
	}

	#profile {
		.title {
    		background-color: #753928;
    		color: #ccc;
		}
	}
}


/*@mixin light($color) {
	color: $black;
	background-color: scale-color($color, $lightness: 50%);
}

@mixin lightest($color) {
	color: $black;
	background-color: scale-color($color, $lightness: 75%);
}

@mixin darkest($color) {
	color: $white;
	background-color: scale-color($color, $lightness: -75%);
}

@mixin dark($color) {
	color: $white;
	background-color: scale-color($color, $lightness: -50%);
}

.red {
	background-color: $red;

	&.light { @include light($red); }
	&.lightest { @include lightest($red); }
	&.dark { @include dark($red); }
	&.darkest { @include darkest($red); }


}

.blue {
	background-color: $blue;

	&.light { @include light($blue); }
	&.lightest { @include lightest($blue); }
	&.dark { @include dark($blue); }
	&.darkest { @include darkest($blue); }

}

.gray {
	background-color: #777;

	&.light { @include light(#777); }
	&.lightest { @include lightest(#777); }
	&.dark { @include dark(#777); }
	&.darkest { @include darkest(#777); }

}

.orange {
	background-color: orange;

	&.light { @include light(orange); }
	&.lightest { @include lightest(orange); }
	&.dark { @include dark(orange); }
	&.darkest { @include darkest(orange); }

}*/