body.dark {
    background-color: #141311;

	#header {
	    background-color: #753928;
	    color: #d8d8d8;

	    #logo>svg {
	    	fill: #d8d8d8;
	    }
	}

	#menu {
		background-color: #b7b7b7;
		button {
			-webkit-transition: padding-left 0.5s;
		    -o-transition: padding-left 0.5s;
		    transition: padding-left 0.5s;
		}
		button:hover {
		    background-color: #222;
		    color: #eee;
		    padding-left: 30px;

		    -webkit-transition: padding-left 0.5s;
		    -o-transition: padding-left 0.5s;
		    transition: padding-left 0.5s;

		    svg, path {
		    	fill: #eee;
		    }
		}
	}

	

	#content {
	    color: #bbb;

	    .content-wrapper {
	    	.image {
			    background-color: #777; 
			}
	    }
	}

	.course:not(.promo), .class {
		background-color: #bbb;
		color: #111;
		border: 7px solid #bbb;

		svg {
			fill: #111;
		}
	}

	.course:not(.promo):hover, .class:hover {
		background-color:transparent;
		border: 7px solid;
		color: #bbb;

		svg {
			fill: #bbb;
		}
	}

	.course.promo {
		background-color: #A85A43;
		border: 7px solid #A85A43;
		color: #111;
	}

	.course.promo:hover {
		background-color: transparent;
		border: 7px solid #A85A43;
		color: #bbb;
	}
}


/*@mixin light($color) {
	color: $black;
	background-color: scale-color($color, $lightness: 50%);
}

@mixin lightest($color) {
	color: $black;
	background-color: scale-color($color, $lightness: 75%);
}

@mixin darkest($color) {
	color: $white;
	background-color: scale-color($color, $lightness: -75%);
}

@mixin dark($color) {
	color: $white;
	background-color: scale-color($color, $lightness: -50%);
}

.red {
	background-color: $red;

	&.light { @include light($red); }
	&.lightest { @include lightest($red); }
	&.dark { @include dark($red); }
	&.darkest { @include darkest($red); }


}

.blue {
	background-color: $blue;

	&.light { @include light($blue); }
	&.lightest { @include lightest($blue); }
	&.dark { @include dark($blue); }
	&.darkest { @include darkest($blue); }

}

.gray {
	background-color: #777;

	&.light { @include light(#777); }
	&.lightest { @include lightest(#777); }
	&.dark { @include dark(#777); }
	&.darkest { @include darkest(#777); }

}

.orange {
	background-color: orange;

	&.light { @include light(orange); }
	&.lightest { @include lightest(orange); }
	&.dark { @include dark(orange); }
	&.darkest { @include darkest(orange); }

}*/