

	
.questions,.responses {
	height: calc(100% - 70px);
	.buttons {
		button {
			padding: 10px;
			margin: 10px 0px 10px 5px;
			width: 150px;
			border: 3px solid;
			border-radius: 5px;
		}
		display: flex;
		justify-content: flex-end;
	}

	display: flex;
	flex-direction: column;
	
	>.questions, >.responses {
		border: 1px solid;
	}
	.response,.question {
	    padding: 10px;
	    border-bottom: 1px solid;
	    cursor:pointer;
	}
	
	>.question,.response {
		display:flex;
		
		.field {
			&.check { flex: 0.2; }
			&.name { flex: 2; } 
			&.tit { flex: 3; }
			&.date { flex: 1; }
		}
	}
}

#question, #response {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;

    .field {

	    display: flex;
	    flex-direction:column;

	    >textarea {
		    padding: 10px;
		    border: 2px solid;
		}
	    
	    .label {
	    	padding: 0px 0 5px 0;
	    }

	    input {
	    	margin-bottom: 20px;
		    padding: 10px;
		    flex-grow: 1;
		    border: 2px solid;
		}

	    &.name, &.classname, &.tit {

	    } 

	    &.buttons {
		    display: flex;
		    flex-direction: row;
		    position: relative;
		    margin-top: 10px;
		    align-items: center;
		    justify-content: flex-end;

		    button {
		    	width: 200px;
		    	padding: 7px;
		    	margin-left: 10px;
		    	border: 3px solid;
		    	border-radius: 5px;

		    	&.send { right: 230px;}
		    	&.cancel {right: 0;}
		    }
		}
	}
}
